*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    >ul {
        width: 888px;
        margin: 20px auto;
        display: flex;
        text-align: center;
        >li {
            width: 100%;
            list-style: none;
            padding: 22px;
            background: cornflowerblue;
            position: relative;
            >a {
                text-decoration: none;
                font: normal small-caps lighter 22px / 10px arial;
                color: #fff;
                display: block;
                letter-spacing: 1px;
            }
            &:hover {
                background: lightgreen;
            }
            >ul {
                list-style: none;
                background: cornflowerblue;
                position: absolute;
                width: 100%;
                left: 0;
                top: 100%;
                display: none;
                >li {
                    width: 100%;
                    position: relative;
                    >a {
                        text-decoration: none;
                        font: normal small-caps lighter 14px / 7px arial;
                        color: #fff;
                        display: block;
                        padding: 18px;
                    }
                    &:hover {
                        background: tomato;
                    }
                }
            }
            &:hover {
                width: 100%;
                >ul {
                    display: block;
                }
            }
        }
    }
}