* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: 100%;
  height: 100vh;
  /* background-image: url("../images/messi.png");
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-color: #ccc;
  background-position: bottom right; */
  background: url("../images/messi.png") #ccc no-repeat bottom right / 500px
    auto;
  display: flex;
}

.chield {
  width: 300px;
  height: 200px;
  background: linear-gradient(to top right, #007000, #0f0, #007000);
  margin: auto;
  box-shadow: 0 0 10px #000 inset;
  display: flex;
}

.nati {
  width: 230px;
  height: 160px;
  background: #ffc400;
  margin: auto;
  clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
  display: flex;
}

.puti {
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 50%;
  background: radial-gradient(rgb(65, 65, 255), rgb(0, 0, 155));
  box-shadow: 0 0 10px #000 inset;
  overflow: hidden;
}

.khuti {
  width: 200px;
  height: 200px;
  border: 10px solid #fff;
  border-radius: 50%;
  margin-top: 32px;
  margin-left: -85px;
}
