@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media only screen and (max-width: 1919px) and (min-width: 1801px) {
  header {
    > .social_media {
      grid-gap: 40px;
      > div {
        > img {
          width: 140px;
          height: 76px;
        }
      }
    }
  }
  .product {
    > .grid_product {
      grid-gap: 30px;
    }
  }
}
@media only screen and (max-width: 1800px) and (min-width: 1721px) {
  header {
    > .social_media {
      grid-gap: 30px;
      > div {
        > img {
          width: 120px;
          height: 70px;
        }
      }
    }
  }
  .product {
    > .grid_product {
      grid-gap: 30px;
      > .collection {
        > img {
          width: 280px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1720px) and (min-width: 1641px) {
  header {
    > .social_media {
      grid-gap: 30px;
      > div {
        > img {
          width: 120px;
          height: 70px;
        }
      }
    }
  }
  .product {
    > .grid_product {
      grid-gap: 30px;
      > .collection {
        > img {
          width: 260px;
        }
        > h1 {
          font-size: 26px;
          line-height: 36px;
          margin-top: 14px;
          margin-bottom: 6px;
        }
        > span {
          margin-bottom: 8px;
          font-size: 22px;
          line-height: 34px;
        }
        > .star {
          font-size: 12px;
          > a {
            font-size: 12px;
          }
          > span {
            font-size: 12px;
            line-height: 20px;
          }
        }
        > p {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1640px) and (min-width: 1471px) {
  header {
    > .social_media {
      grid-gap: 30px;
      > div {
        > img {
          width: 120px;
          height: 70px;
        }
      }
    }
  }
  .product {
    > .grid_product {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media only screen and (max-width: 1470px) and (min-width: 1340px) {
  header {
    > .manubar {
      padding: 46px 110px;
      height: 50px;
      > span {
        > a {
          line-height: 34px;
          font-size: 22px;
        }
      }
      > ul {
        > li {
          > a {
            line-height: 22px;
            font-size: 14px;
            padding: 0px 15px;
          }
        }
      }
    }
    > section {
      padding: 48px 130px 90px 110px;
      > .s_left {
        margin-top: 100px;
        margin-bottom: 96px;
        height: 266px;
        width: 578px;
        margin-right: 128px;
        > h1 {
          font-size: 48px;
          line-height: 67px;
        }
        > p {
          line-height: 22px;
          padding: 16px 0px;
          font-size: 14px;
          width: 500px;
        }
        > button {
          padding: 8px 22px 8px 22px;
          border-radius: 38px;
          > a {
            line-height: 22px;
            font-size: 14px;
          }
        }
      }
      > .s_right {
        width: 420px;
        height: 420px;
        > div {
          width: 280px;
          height: 280px;
          > img {
            width: 396px;
            height: 368px;
            left: -60px;
          }
        }
      }
    }
    > .social_media {
      grid-gap: 20px;
      margin: 25px 155px 50px 155px;
      padding: 18px 58px;
      > div {
        > img {
          width: 110px;
          height: 60px;
        }
      }
    }
  }
  .product {
    > .grid_product {
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      > .collection {
        > img {
          width: 260px;
        }
        > h1 {
          font-size: 26px;
          line-height: 36px;
          margin-top: 14px;
          margin-bottom: 6px;
        }
        > span {
          margin-bottom: 8px;
          font-size: 22px;
          line-height: 34px;
        }
        > .star {
          font-size: 12px;
          > a {
            font-size: 12px;
          }
          > span {
            font-size: 12px;
            line-height: 20px;
          }
        }
        > p {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }
  .feature {
    margin: 90px 155px;
    > img {
      width: 460px;
    }
    > div {
      margin-left: 90px;
      width: 720px;
      > h1 {
        font-size: 39px;
        line-height: 56px;
      }
      > p {
        margin: 16px 0px;
        width: 530px;
        line-height: 26px;
      }
      > button {
        padding: 8px 22px;
        > a {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
  footer {
    padding: 46px 0px;
    > h1 {
      line-height: 34px;
      font-size: 24px;
    }
    > p {
      font-size: 12px;
      line-height: 24px;
      margin-top: 8px;
    }
  }
}
@media only screen and (max-width: 1339px) and (min-width: 1280px) {
  header {
    > .manubar {
      padding: 42px 104px;
      height: 48px;
      > span {
        > a {
          line-height: 32px;
          font-size: 20px;
        }
      }
      > ul {
        > li {
          > a {
            line-height: 24px;
            font-size: 12px;
            padding: 0px 13px;
          }
        }
      }
    }
    > section {
      padding: 44px 124px 86px 100px;
      > .s_left {
        margin-top: 95px;
        margin-bottom: 65px;
        height: 260px;
        width: 570px;
        margin-right: 120px;
        > h1 {
          font-size: 46px;
          line-height: 65px;
        }
        > p {
          line-height: 20px;
          padding: 14px 0px;
          font-size: 12px;
          width: 450px;
        }
        > button {
          padding: 6px 20px 6px 20px;
          border-radius: 36px;
          > a {
            line-height: 20px;
            font-size: 12px;
          }
        }
      }
      > .s_right {
        width: 420px;
        height: 400px;
        > div {
          width: 260px;
          height: 260px;
          > img {
            width: 360px;
            height: 352px;
            left: -62px;
            top: -42px;
          }
        }
      }
    }
    > .social_media {
      grid-gap: 20px;
      margin: 20px 145px 50px 145px;
      padding: 16px 56px;
      > div {
        > img {
          width: 100px;
          height: 50px;
        }
      }
    }
  }
  .product {
    > span:first-child {
      > a {
        font-size: 24px;
        line-height: 66px;
        text-shadow: (0px 3px 3px rgba(0, 0, 0, 0.25));
      }
    }
    > .grid_product {
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      > .collection {
        padding: 15px 13px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
        > img {
          width: 250px;
        }
        > h1 {
          font-size: 24px;
          line-height: 34px;
          margin-top: 12px;
          margin-bottom: 5px;
        }
        > span {
          margin-bottom: 6px;
          font-size: 20px;
          line-height: 32px;
        }
        > .star {
          font-size: 10px;
          > a {
            font-size: 10px;
          }
          > span {
            font-size: 10px;
            line-height: 18px;
          }
        }
        > p {
          font-size: 10px;
          line-height: 18px;
        }
        &:hover {
          transform: translateY(-4px);
          box-shadow: 0px 5px 10px rgb(0 0 0 / 65%);
        }
      }
    }
    > .see_more {
      margin-top: 48px;
      > a {
        line-height: 22px;
        font-size: 16px;
        text-shadow: (0px 3px 3px rgba(0, 0, 0, 0.25));
      }
    }
  }
  .feature {
    margin: 80px 145px;
    > img {
      width: 400px;
    }
    > div {
      margin-left: 90px;
      width: 700px;
      > h1 {
        font-size: 36px;
        line-height: 52px;
      }
      > p {
        margin: 14px 0px;
        width: 450px;
        line-height: 24px;
        font-size: 14px;
      }
      > button {
        padding: 6px 20px;
        > a {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
  footer {
    padding: 40px 0px;
    > h1 {
      line-height: 30px;
      font-size: 20px;
    }
    > p {
      font-size: 10px;
      line-height: 22px;
      margin-top: 6px;
    }
    > ul {
      margin-top: 6px;
      > li {
        width: 22px;
        margin-top: 16px;
        margin: 0px 6px;
        > a {
          line-height: 22px;
          font-size: 14px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1279px) and (min-width: 1024px) {
  header {
    > .manubar {
      padding: 30px 84px;
      height: 46px;
      > span {
        > a {
          line-height: 30px;
          font-size: 18px;
        }
      }
      > ul {
        > li {
          > a {
            font-size: 10px;
            padding: 0px 10px;
          }
        }
      }
    }
    > section {
      padding: 40px 110px 15px 84px;
      > .s_left {
        margin-top: 96px;
        margin-bottom: 86px;
        height: 220px;
        width: 530px;
        margin-right: 60px;
        > h1 {
          font-size: 33px;
          line-height: 58px;
        }
        > p {
          line-height: 18px;
          padding: 12px 0px;
          font-size: 10px;
          width: 350px;
        }
        > button {
          padding: 5px 18px 5px 18px;
          border-radius: 34px;
          > a {
            line-height: 18px;
            font-size: 10px;
          }
        }
      }
      > .s_right {
        width: 300px;
        height: 300px;
        > div {
          width: 200px;
          height: 200px;
          > img {
            width: 268px;
            height: 260px;
            left: -37px;
            top: -26px;
          }
        }
      }
    }
    > .social_media {
      grid-gap: 20px;
      margin: 20px 145px 40px 145px;
      padding: 16px 56px;
      grid-template-columns: repeat(5, 1fr);
      > div {
        > img {
          width: 100px;
          height: 50px;
        }
      }
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
  }
  .product {
    padding-top: 30px;
    > span:first-child {
      > a {
        font-size: 18px;
        line-height: 30px;
        text-shadow: (0px 3px 3px rgba(0, 0, 0, 0.25));
      }
    }
    > .grid_product {
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      > .collection {
        padding: 13px 11px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        > img {
          width: 200px;
        }
        > h1 {
          font-size: 20px;
          line-height: 32px;
          margin-top: 10px;
          margin-bottom: 4px;
        }
        > span {
          margin-bottom: 4px;
          font-size: 18px;
          line-height: 30px;
        }
        > .star {
          font-size: 8px;
          > a {
            font-size: 8px;
          }
          > span {
            font-size: 8px;
            line-height: 16px;
          }
        }
        > p {
          font-size: 8px;
          line-height: 16px;
        }
        &:hover {
          transform: translateY(-2px);
          box-shadow: 0px 4px 8px rgb(0 0 0 / 65%);
        }
      }
    }
    > .see_more {
      margin-top: 45px;
      > a {
        line-height: 18px;
        font-size: 14px;
        text-shadow: (0px 2px 2px rgba(0, 0, 0, 0.25));
      }
    }
  }
  .feature {
    margin: 50px 135px;
    > img {
      width: 300px;
    }
    > div {
      margin-left: 90px;
      width: 500px;
      > h1 {
        font-size: 30px;
        line-height: 40px;
      }
      > p {
        margin: 10px 0px;
        width: 400px;
        line-height: 20px;
        font-size: 12px;
      }
      > button {
        padding: 4px 18px;
        > a {
          font-size: 10px;
          line-height: 16px;
        }
      }
    }
  }
  footer {
    padding: 30px 0px;
    > h1 {
      line-height: 24px;
      font-size: 16px;
    }
    > p {
      font-size: 8px;
      line-height: 18px;
      margin-top: 4px;
    }
    > ul {
      margin-top: 4px;
      > li {
        width: 16px;
        margin-top: 16px;
        margin: 0px 4px;
        > a {
          line-height: 16px;
          font-size: 10px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  header {
    > .manubar {
      padding: 40px 50px;
      > a {
        text-decoration: none;
        color: #000;
        display: block;
        margin: 16px 24px;
        font-size: 20px;
      }
      > span {
        > a {
          font-size: 20px;
          line-height: 28px;
          font-weight: 700;
          font-family: "Poppins", sans-serif;
        }
      }
      > ul {
        > li {
          display: none;
        }
        > .shopping {
          display: flex;
          > a {
            font-size: 20px;
          }
        }
      }
    }
    > section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px 80px 80px 80px;
      > .s_left {
        margin: 40px 50px;
        position: relative;
        > h1 {
          font-size: 50px;
          line-height: 70px;
          text-align: center;
        }
        > p {
          text-align: center;
        }
        > button {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
        }
      }
      > .s_right {
        width: 450px;
        height: 450px;
        > div {
          width: 300px;
          height: 300px;
          > img {
            width: 416px;
            height: 396px;
            left: -63px;
            top: -44px;
          }
        }
      }
    }
    > .social_media {
      grid-gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      padding: 0;
      margin: 0px 60px 50px 140px;
      > div {
        > img {
          width: 130px;
          height: 80px;
        }
      }
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
  }
  .product {
    padding: 0;
    > span:first-child {
      > a {
        font-size: 20px;
        line-height: 30px;
        text-shadow: (0px 3px 3px rgba(0, 0, 0, 0.25));
      }
    }
    > .grid_product {
      grid-template-columns: repeat(2, 1fr);
      > .collection {
        padding: 15px 13px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
        > img {
          width: 250px;
        }
        > h1 {
          font-size: 24px;
          line-height: 34px;
          margin-top: 12px;
          margin-bottom: 5px;
        }
        > span {
          margin-bottom: 6px;
          font-size: 20px;
          line-height: 32px;
        }
        > .star {
          font-size: 10px;
          > a {
            font-size: 10px;
          }
          > span {
            font-size: 10px;
            line-height: 18px;
          }
        }
        > p {
          font-size: 10px;
          line-height: 18px;
        }
        &:hover {
          transform: translateY(-4px);
          box-shadow: 0px 5px 10px rgb(0 0 0 / 65%);
        }
      }
    }
    > .see_more {
      margin-top: 45px;
      > a {
        line-height: 18px;
        font-size: 14px;
        text-shadow: (0px 2px 2px rgba(0, 0, 0, 0.25));
      }
    }
  }
  .feature {
    margin: 10px 50px 56px 50px;
    justify-content: center;
    flex-direction: column;
    position: relative;
    > img {
      width: 400px;
      margin-bottom: 30px;
    }
    > div {
      margin-left: 0;
      width: 500px;
      > h1 {
        font-size: 36px;
        line-height: 40px;
        text-align: center;
      }
      > p {
        margin: 20px 50px;
        width: 400px;
        line-height: 30px;
        font-size: 16px;
        text-align: center;
      }
      > button {
        padding: 6px 22px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        > a {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
  footer {
    padding: 40px 0px;
    > h1 {
      line-height: 26px;
      font-size: 16px;
    }
    > p {
      font-size: 8px;
      line-height: 18px;
      margin-top: 4px;
    }
    > ul {
      margin-top: 4px;
      > li {
        width: 20px;
        margin-top: 16px;
        margin: 0px 4px;
        > a {
          line-height: 20px;
          font-size: 14px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  header {
    > .manubar {
      padding: 32px 16px;
      > a {
        text-decoration: none;
        color: #000;
        display: block;
        margin: 16px 24px;
        font-size: 16px;
      }
      > span {
        > a {
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;
          font-family: "Poppins", sans-serif;
        }
      }
      > ul {
        > li {
          display: none;
        }
        > .shopping {
          display: flex;
          > a {
            font-size: 16px;
          }
        }
      }
    }
    > section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px 16px 46px 16px;
      > .s_left {
        margin: 40px 0px 0px 0px;
        position: relative;
        > h1 {
          font-size: 28px;
          line-height: 42px;
          text-align: center;
        }
        > p {
          text-align: center;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          padding: 0px 130px;
          margin: 15px;
        }
        > button {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          > a {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
          }
        }
      }
      > .s_right {
        width: 257px;
        height: 257px;
        > div {
          width: 170px;
          height: 170px;
          > img {
            width: 202px;
            height: 190px;
            left: -22px;
            top: 0px;
          }
        }
      }
    }
    > .social_media {
      grid-gap: 0;
      grid-template-columns: repeat(4, 1fr);
      padding: 0;
      margin: 5px 40px 40px 40px;
      > div {
        > img {
          width: 70px;
          height: 40px;
        }
      }
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
  }
  .product {
    padding: 0;
    > span:first-child {
      > a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        text-shadow: none;
        width: 150px;
      }
    }
    > .grid_product {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .feature {
    margin: 10px 0px 80px 0px;
    justify-content: center;
    flex-direction: column;
    position: relative;
    > img {
      width: 299px;
      height: 188px;
      margin-bottom: 30px;
    }
    > div {
      width: 339px;
      margin: auto;
      > h1 {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        width: 311px;
        margin: auto;
      }
      > p {
        width: 329px;
        line-height: 28px;
        font-size: 16px;
        text-align: center;
        margin: auto;
        padding: 15px 0px;
      }
      > button {
        padding: 6px 22px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        > a {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  footer {
    padding: 50px 0px;
    > h1 {
      line-height: 24px;
      font-size: 16px;
    }
    > p {
      font-size: 12px;
      line-height: 24px;
      margin-top: 6px;
    }
    > ul {
      margin-top: 6px;
      > li {
        width: 30px;
        margin-top: 18px;
        margin: 0px 6px;
        > a {
          line-height: 30px;
          font-size: 16px;
        }
      }
    }
  }
}
