.navbar-brand {
  color: #4a4a4a;
}
.cbutton {
  background-color: #289bde;
}
.h5car {
  font-size: 50px;
}
.pacarousel {
  font-size: 25px;
}
@media only screen and (max-width: 768px) {
  .h5car {
    font-size: 25px;
  }
  .pacarousel {
    font-size: 10px;
  }
  .carousel-caption {
    bottom: -0.75rem;
  }
}
@media only screen and (max-width: 320px) {
  .carousel-caption {
    display: none;
  }
  .psmall {
    font-size: 12px;
    padding-top: 4px;
  }
}

@media only screen and (max-width: 1199px) {
  .mediasml {
    > h3 {
      font-size: 20px;
    }
    > p {
      font-size: 15px;
    }
    > .text-primary {
      font-size: 12px;
    }
  }
}
.contact_no {
  display: flex;
  > li {
    list-style: none;
    background-color: #5e5e5e;
    border-radius: 50%;
    width: 40px;
    margin: 0px 6px;
    > a {
      text-decoration: none;
      color: white;
      line-height: 40px;
      font-size: 16px;
    }
  }
}
.starrate {
  > ul {
    display: flex;
    justify-content: end;
    > li {
      list-style: none;
      > a {
        text-decoration: none;
        color: #f59e0b;
      }
    }
  }
}
.yoyomodal {
  background-color: #91d7ff !important;
}
