@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, #cdb79fc3, #cdb79f81, #cdb79f71),
    url(./img/MASTER\ BEDROOM.jpeg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header {
  margin: 0px 30px;
  display: flex;
  padding-top: 20px;

  > span {
    margin: left;
    > a {
      text-decoration: none;
      color: #2d2d2d;
      font-size: 46px;
      font-weight: bold;
      font-family: Montserrat;
    }
  }
  > nav {
    margin: auto;
    width: 750px;
    > ul {
      display: flex;
      text-align: center;
      > li {
        list-style: none;
        padding: 6px 20px;
        position: relative;

        > a {
          text-decoration: none;
          position: relative;
          color: #000;
          font-size: 20px;
          font-family: Montserrat;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 100%;
          border-bottom: 2px solid rgb(66, 62, 62);
          background: linear-gradient(
            rgba(190, 116, 74, 0.384),
            rgba(255, 255, 255, 0.24),
            rgba(190, 116, 74, 0.384)
          );
          transition: 0.5s;
        }
        > ul {
          position: absolute;
          top: 104%;
          left: 50%;
          width: 100%;
          background: linear-gradient(#ceac95, #ceac95);
          transform: translateX(-50%);
          padding: 10px 40px;
          display: none;
          transition: 0.5;
          > li {
            list-style: none;
            position: relative;
            padding: 2px;
            transition: 0.5s;
            > a {
              text-decoration: none;
              position: relative;
              color: #000;
              font-size: 16 px;
              font-family: Montserrat;
              line-height: 40px;
              transition: 0.5s;
            }
            &::before {
              content: "";
              position: absolute;
              top: calc(100% - 4px);
              left: 0;
              width: 0;
              border-bottom: 1px solid #8d6a45;
              transition: 0.5s;
            }
            &:hover {
              > a {
                color: rgb(255, 245, 237);
              }
              &::before {
                width: 100%;
              }
            }
            > ul {
              position: absolute;
              top: 0;
              left: 100%;
              width: 150px;
              background: linear-gradient(#ceac95, #ceac95);
              padding: 10px 20px;
              display: none;
              > li {
                list-style-type: none;
                position: relative;
                > a {
                  text-decoration: none;
                  position: relative;
                  color: #000;
                  font-size: 16 px;
                  font-family: Montserrat;
                  line-height: 40px;
                  transition: 0.5s;
                }

                &::before {
                  content: "";
                  position: absolute;
                  top: calc(100% - 2px);
                  left: 50%;
                  width: 0;
                  transform: translateX(-50%);
                  border-bottom: 1px solid #8d6a45;
                  transition: 0.5s;
                }
                &:hover {
                  > a {
                    color: #fff;
                  }
                  &::before {
                    width: 100%;
                  }
                }
              }
            }
            &:hover {
              > ul {
                display: block;
              }
            }
          }
        }
        &:hover {
          &::before {
            width: 100%;
            border-radius: 5px;
            border-left: 1px solid rgb(66, 62, 62);
          }
          > ul {
            display: block;
          }
        }
        > .team {
          padding: 10px 30px;
        }
      }
    }
  }
  .logo {
    float: right;
    text-align: center;

    > ul {
      display: flex;
      margin: auto;
      float: right;
      transform: translateY(90%);
      > li {
        list-style: none;
        width: 35px;

        > a {
          text-decoration: none;
          color: #000;
          transition: 0.5s;
          border-radius: 50%;
          padding: 5px;
          text-align: center;

          &:hover {
            color: white;
            background-color: #856147;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1428px) {
  header {
    > span {
      > a {
        font-size: 66px;
      }
    }
    nav {
      width: 940px;
      > ul {
        > li {
          > a {
            font-size: 30px;
          }
        }
      }
    }

    .logo {
      > ul {
        > li {
          width: 40px;
          > a {
            font-size: 25px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1427px) and (min-width: 1022px) {
  header {
    nav {
      width: 692px;
      > ul {
        > li {
          > a {
            font-size: 20px;
          }
          > ul {
            padding: 6px 25px;
            > li {
              > a {
                font-size: 12px;
                line-height: 30px;
              }
              > ul {
                width: 120px;
                padding: 4px 12px;

                > li {
                  > a {
                    font-size: 12px;
                    line-height: 30px;
                  }
                }
              }
            }
          }
          > .team {
            padding: 6px 24px;
          }
        }
      }
    }

    .logo {
      > ul {
        transform: translateY(100%);
        > li {
          > a {
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1021px) and(min-width: 864px) {
  header {
    > span {
      > a {
        font-size: 36px;
      }
    }
    nav {
      width: 569px;
      > ul {
        > li {
          > a {
            font-size: 15px;
          }
        }
      }
    }
  }
  .logo {
    > ul {
      transform: translateY(80%);
      > li {
        width: 30px;
        > a {
          font-size: 14px;
        }
      }
    }
  }
}
@media only screen and (max-width: 863px) and(min-width: 622px) {
  header {
    > span {
      > a {
        font-size: 28px;
      }
    }
    nav {
      display: none;
    }

    .logo {
      float: right;
      > ul {
        transform: translateY(120%);
        float: right;
        > li {
          width: 26px;
          > a {
            font-size: 12px;
          }
        }
      }
    }
  }
}
.mid_content {
  width: 350px;
  margin: 60px 0px 0px 150px;

  > .first_child {
    color: #2d2d2d;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
  }
  > h1 {
    color: #1b1b1b;
    font-family: Montserrat;
    letter-spacing: -5px;
    font-size: 100px;
    margin-bottom: 20px;
  }
  > .article {
    margin: 20px 0px;
    font-size: 12px;
    color: rgb(57 46 46 / 84%);
    font-family: arial;
    line-height: 30px;
  }
  > p {
    font-size: 12px;
    color: rgb(57 46 46 / 84%);
    width: 260px;
    font-family: Montserrat;
  }
  > .sizes {
    font-size: 12px;
    color: rgba(57, 46, 46, 0.84);
    font-family: Montserrat;
    margin: 30px 0px 12px 0px;
  }
  > .input {
    font-family: Montserrat;
    color: #2d2d2d;
    font-weight: bold;
    font-size: 15px;
  }
  > .line {
    background-color: #000;
    width: 300px;
    height: 1px;
    margin: 50px 0px;
  }
  > .button {
    background-color: #1b1b1b;
    width: max-content;
    > input {
      background: none;
      color: #daccbf;
      font-family: Montserrat;
      padding: 10px 20px;
      border: none;
      transition: 0.5s;
      font-size: 14px;
      &:hover {
        background-color: #000;
        color: white;
        box-shadow: 0px 0px 13px 0px white;
      }
    }
  }
}
@media only screen and (min-width: 1428px) {
  .mid_content {
    margin: 80px 0px 0px 180px;
    > .first_child {
      font-size: 18px;
    }
    > h1 {
      font-size: 130px;
      margin-bottom: 30px;
    }
    > .article {
      font-size: 16px;
    }
    > p {
      font-size: 16px;
      width: 350px;
    }
    > .sizes {
      font-size: 18px;
    }
    > .input {
      font-size: 18px;
    }
    > .line {
      width: 400px;
      margin: 60px 0px;
    }
    .button {
      > input {
        font-size: 20px;
        padding: 20px 30px;
      }
    }
  }
}
